.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    background: var(--background-modal);
    flex: 1;
}

.notFoundText {
    font-size: var(--font-5xl);
}
